.home-container {
	display: flex;

	flex-direction: column;
	align-items: center;
}

.options-wrapper {
	padding: 30px;
	background-color: #eeeeee;
	border-radius: 30px;
	border: 1px solid #0081b4;
}
