

.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
venv/
.venv/
env*
dist/
build/
*.egg
*.egg-info/
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode
drug-ndc-0001-of-0001.json
__pycache__

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover

venv
drug-ndc-0001-of-0001.json

