section {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  margin: 0 auto;
  max-width: 600px;
  color: #333;
  padding: 20px;
}
